@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("NewBarcode", "Home", FormMethod.Post))
{
    <h2>Index</h2>

    <p>Nama: </p> <input type="text" id="test" name="test" />
    <input type="submit" value="submit" />
}